<template>
<el-tabs type="border-card" @tab-click="changeTabs">
  <el-tab-pane label="Tìm shop">
  <el-row :gutter="20" style="margin-bottom:10px">
      <el-col :span="24">
        <el-form :inline="true" size="mini">
          <el-form-item>
            <el-button :type="form.find.status.type" @click="onFindShop" :loading="findLoading" size="mini">{{form.find.status.text}}</el-button>
          </el-form-item>
          <el-form-item class="divided-h" style="min-width:400px">
            <ul class="status-ul text-secondary">
              <li>Trạng thái: {{form.find.status.value}} <span v-if="form.find.status.code == 1">(đợi chuyển trang: {{form.find.tick}})</span></li>
              <li v-if="form.find.status.code == 0">Chi tiết: {{form.find.status.value}}</li>
              <li v-if="form.find.status.code != 0">Chi tiết: Tìm thấy {{form.find.count}} shop / trang {{form.find.page}} (chi tiết xem ở danh sách shop)</li>
            </ul>
          </el-form-item>
        </el-form>
      </el-col>
    </el-row>
    <div class="divided-v"></div>
    <el-row :gutter="20" style="height:600px;" ref="placeView" class="placeView">
      <el-col :span="24" style="height:100%" :loading="findLoading">
        <!-- <div style="padding-bottom: 5px">
          <el-button type="info" @click="onGoHome" size="mini" style="padding: 5px 10px;margin-left:0px">Trang chủ shopee</el-button>
        </div> -->
        <webview id="wviewFind" src = "https://shopee.vn/" :preload="preloadFind" useragent="Mozilla/5.0 (Windows NT 6.1; WOW64; Trident/7.0; AS; rv:11.0) like Gecko" partition="persist:shopee" style="height:100%">
        </webview>
      </el-col>
    </el-row>
  </el-tab-pane>
  <el-tab-pane label="Danh sách shop" name="shopListTab">
    <el-row :gutter="20" style="margin-bottom:10px">
      <el-col :span="24">
        <el-form :inline="true" size="mini">
          <el-form-item>
            <el-select style="width:200px" v-model="form.shop.query.fillter.value" @change="getShopList" placeholder="Trạng thái" size="mini" clearable>
               <el-option
                v-for="item in form.shop.query.fillter.list"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
            <el-button type="primary" icon="el-icon-refresh" @click="resetList" size="mini"></el-button>
          </el-form-item>
          <el-form-item class="divided-h" style="min-width:600px">
            <ul class="status-ul text-secondary">
              <li>Shop mới: {{form.summary.shopNew}} -- Shop đã theo dõi: {{form.summary.shopFollowed}} </li>
              <li>Danh sách theo dõi: {{form.summary.shopFollow}}</li>
            </ul>
          </el-form-item>
        </el-form>
      </el-col>
    </el-row>
    <div class="divided-v"></div>
     <el-row :gutter="20" style="margin-bottom:10px">
      <el-col :span="24">
          <el-button-group>
              <el-button v-if="form.shop.query.fillter.value === 1"  :disabled="currentSelectionList.length === 0" type="warning" icon="el-icon-refresh" size="mini" @click="restoreAll()">Chuyển về shop mới</el-button>
              <el-button v-if="form.shop.query.fillter.value === 0"  :disabled="currentSelectionList.length === 0" type="primary" size="mini" @click="followAll()">Thêm vào danh sách đi theo dõi</el-button>
              <el-button v-if="form.shop.query.fillter.value !== 1" :disabled="currentSelectionList.length === 0" type="danger" icon="el-icon-close" size="mini" @click="deleteAll()"></el-button>
           </el-button-group>
           <br />
           <small>* Cập nhật tất cả bản ghi được chọn</small>
      </el-col>
    </el-row>
    <el-table @sort-change="sortShop" @selection-change="handleSelectionChange" v-loading.body="form.shop.listLoading" :data="form.shop.list" border fit highlight-current-row style="width: 100%" size="mini">
      <el-table-column
        align="center"
        type="selection"
        width="55">
      </el-table-column>
      <el-table-column align="center" label="Actions" width="270px">
        <template slot-scope="scope">
          <el-button-group >
              <el-button v-if="form.shop.query.fillter.value === 1" type="warning" icon="el-icon-refresh" size="mini" @click="deleteShop(scope.row)">Chuyển về shop mới</el-button>
              <el-button v-if="form.shop.query.fillter.value === 0" type="primary" size="mini" @click="follow(scope.row,true)">Thêm vào danh sách đi theo dõi</el-button>
              <el-button v-if="form.shop.query.fillter.value !== 1" type="danger" icon="el-icon-close" size="mini" @click="deleteShop(scope.row)"></el-button>
           </el-button-group>
         </template>
      </el-table-column> 
      <el-table-column align="center" label="ID/UserName">
        <template slot-scope="scope">
          <span><el-button type="text"  @click="onViewShop(scope.row.shopid)">{{ scope.row.shopid }}/{{scope.row.name}}</el-button> </span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="Sản phẩm" prop="item_count" sortable="custom" width="150px">
        <template slot-scope="scope">
          <span>{{ scope.row.item_count }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="Đang theo dõi" prop="following_count" sortable="custom"  width="150px">
        <template slot-scope="scope">
          <span><el-button type="text"  @click="onViewFollowing(scope.row.shopid)"> {{ scope.row.following_count }}</el-button></span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="Người theo dõi" prop="follower_count" sortable="custom" width="150px">
        <template slot-scope="scope">
          <span><el-button type="text"  @click="onViewFollower(scope.row.shopid)"> {{ scope.row.follower_count }}</el-button></span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="Ngày tham gia" prop="ctime" sortable="custom" width="150px">
        <template slot-scope="scope">
          <span>{{ scope.row.ctime | formatUnix('L') }}</span>
        </template>
      </el-table-column>
    </el-table>
    <div class="pagination-container">
      <el-pagination
        :current-page="form.shop.query.page"
        :page-sizes="[10,20,30,50,100]"
        :page-size="form.shop.query.limit"
        :total="form.shop.total"
        background
        layout="total, sizes, prev, pager, next, jumper"
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"/>
    </div>
  </el-tab-pane>
  <el-tab-pane label="Đi theo dõi" name="followTab">
    <el-row :gutter="20" style="margin-bottom:10px">
      <el-col :span="24">
        <el-form :inline="true" size="mini">
          <el-form-item style="width:85px">
            <el-button :type="form.follow.buttonFollow.type" size="mini" @click="follower()" :loading="followLoading">{{form.follow.buttonFollow.text}}</el-button>
          </el-form-item>
          <el-form-item class="divided-h" style="width: calc(100% - 150px);">
            <ul class="status-ul text-secondary">
              <li>Trạng thái: {{form.follow.status.value}} -- Lượt kế tiếp: {{form.follow.tick}}</li>
              <li>Số shop: {{form.summary.shopFollow}} -- Shop theo dõi: {{form.follow.shop != null ? form.follow.shop.name : '' }} -- Log: {{form.follow.log}}</li>
            </ul>
          </el-form-item>
        </el-form>
      </el-col>
    </el-row>
    <div class="divided-v"></div>
    <el-row :gutter="20" style="height:600px;" ref="placeView" class="placeView" :loading="followLoading">
      <el-col :span="24" style="height:100%" :loading="followLoading">
        <webview id="wviewFollow" src="https://banhang.shopee.vn/" :preload="preload_follow" useragent="Mozilla/5.0 (Windows NT 6.1; WOW64; Trident/7.0; AS; rv:11.0) like Gecko" partition="persist:shopee" style="height:100%">
        </webview>
      </el-col>
    </el-row>
  </el-tab-pane>
  
  <el-tab-pane label="Đi bỏ theo dõi" name="unfollowTab">
    <el-row :gutter="20" style="margin-bottom:10px">
      <el-col :span="24">
        <el-form :inline="true" size="mini">
          <el-form-item class="divided-h" style="width: 100px;">
            <el-button :type="form.unfollow.buttonUnFollow.type" size="mini" @click="unfollower()" :loading="unfollowLoading">{{form.unfollow.buttonUnFollow.text}}</el-button>
          </el-form-item>
          <el-form-item class="divided-h" style="width: calc(100% - 150px);">
            <ul class="status-ul text-secondary">
              <li>Trạng thái: {{form.unfollow.status.value}} -- Lượt kế tiếp: {{form.unfollow.tick}}</li>
              <li>Bỏ theo dõi: {{form.unfollow.shop != null ? form.unfollow.shop.name : '' }} -- Log: {{form.unfollow.log}}</li>
            </ul>
          </el-form-item>
        </el-form>
      </el-col>
    </el-row>
    <div class="divided-v"></div>
    <el-row :gutter="20" style="height:600px;" ref="placeView" class="placeView" :loading="unfollowLoading">
      <el-col :span="24" style="height:100%" :loading="unfollowLoading">
        <webview id="wviewUnFollow" src="https://banhang.shopee.vn/" :preload="preload_unfollow" useragent="Mozilla/5.0 (Windows NT 6.1; WOW64; Trident/7.0; AS; rv:11.0) like Gecko" partition="persist:shopee" style="height:100%">
        </webview>
      </el-col>
    </el-row>
  </el-tab-pane>
</el-tabs>
</template>

<script>
import { Status, Shopee } from '@/constant/index'
export default {
  name: 'dashboard',
  data() {
    return {
      form: {
        login: {
          status: Status.follow.LOGIN,
          shop: null
        },
        follow: {
          status: Status.follow.STOP,
          tick: 0,
          index: 1,
          shop: null,
          log: 'Chưa bắt đầu',
          buttonFollow: {
            type: 'primary',
            text: 'Theo dõi'
          }
        },
        unfollow: {
          status: Status.follow.STOP,
          tick: 0,
          index: 1,
          shop: null,
          log: 'Chưa bắt đầu',
          isFirst: true,
          buttonUnFollow: {
            type: 'primary',
            text: 'Bỏ theo dõi'
          }
        },
        find: {
          status: Status.find.NEW,
          count: 0,
          tick: 0,
          page: 1
        },
        summary: {
          shopNew: 0,
          shopFollow: 0,
          shopUnfollow: 0,
          shopFollowed: 0
        },
        shop: {
          list: [],
          listLoading: false,
          total: 0,
          query: {
            page: 1,
            limit: 50,
            sort: {
              prop: null,
              order: null
            },
            fillter: {
              list: [{
                value: 0,
                label: 'Shop mới tìm được'
              }, {
                value: 1,
                label: 'Danh sách shop đi theo dõi'
              }, {
                value: 3,
                label: 'Danh sách shop đã theo dõi'
              }],
              name: 'status.code',
              value: 0
            }
          }
        }
      },
      setting: {
        find: {
          nextPageTick: 60
        },
        follow: {
          nextPageTick: 60
        },
        unfollow: {
          nextPageTick: 60
        }
      },
      findLoading: false,
      followLoading: true,
      unfollowLoading: true,
      preload_follow: `file:${require('electron').remote.getGlobal('__extenal')}/preload_follow.js`,
      preload_unfollow: `file:${require('electron').remote.getGlobal('__extenal')}/preload_unfollow.js`,
      preloadFind: `file:${require('electron').remote.getGlobal('__extenal')}/preload_find.js`,
      intervalTick: null,
      currentSelectionList: []
    }
  },
  methods: {
    handleSelectionChange(val) {
      this.currentSelectionList = val
    },
    changeTabs(tab, event) {
      if (tab.name !== 'undefined' && tab.name === 'shopListTab') {
        this.getShopList()
      }
    },
    followAll() {
      const seft = this
      const i = 0
      seft.form.shop.listLoading = true
      const loop = function(i) {
        if (seft.currentSelectionList.length === i) {
          seft.getShopList()
          seft.summary()
          seft.form.shop.listLoading = false
          return
        }
        seft.$store.dispatch('updateStatus', { id: seft.currentSelectionList[i].id, shopid: seft.currentSelectionList[i].shopid, status: Status.shop.FOLLOW }).then(obj => {
          i++
          loop(i)
        })
      }
      loop(i)
    },
    restoreAll() {
      const seft = this
      const i = 0
      seft.form.shop.listLoading = true
      const loop = function(i) {
        if (seft.currentSelectionList.length === i) {
          seft.getShopList()
          seft.summary()
          seft.form.shop.listLoading = false
          return
        }
        seft.$store.dispatch('updateStatus', { id: seft.currentSelectionList[i].id, shopid: seft.currentSelectionList[i].shopid, status: Status.shop.NEW }).then(obj => {
          i++
          loop(i)
        })
      }
      loop(i)
    },
    deleteAll() {
      const seft = this
      const i = 0
      seft.form.shop.listLoading = true
      const loop = function(i) {
        if (seft.currentSelectionList.length === i) {
          seft.getShopList()
          seft.summary()
          seft.form.shop.listLoading = false
          return
        }
        seft.$store.dispatch('deleteShop', { id: seft.currentSelectionList[i].id, shopid: seft.currentSelectionList[i].shopid }).then(obj => {
          i++
          loop(i)
        })
      }
      loop(i)
    },
    follow(shop, isFollow) {
      const seft = this
      seft.form.shop.listLoading = true
      seft.$store.dispatch('updateStatus', { id: shop.id, shopid: shop.shopid, status: (isFollow ? Status.shop.FOLLOW : Status.shop.UNFOLLOW) }).then(obj => {
        seft.getShopList()
        seft.summary()
        seft.form.shop.listLoading = false
        this.$message({
          message: 'Thêm shop' + shop.name + ' vào danh sách ' + (isFollow ? 'theo dõi.' : 'bỏ theo dõi'),
          type: 'success'
        })
      })
    },
    deleteShop(shop) {
      const seft = this
      seft.form.shop.listLoading = true
      if (shop.status.code !== Status.shop.NEW.code) {
        seft.$store.dispatch('updateStatus', { id: shop.id, shopid: shop.shopid, status: Status.shop.NEW }).then(() => {
          this.$message({
            message: 'Chuyển shop' + shop.name + ' về danh sách shop mới',
            type: 'success'
          })
          seft.getShopList()
          seft.summary()
          seft.form.shop.listLoading = false
        })
      } else {
        seft.$store.dispatch('deleteShop', { id: shop.id, shopid: shop.shopid }).then(() => {
          this.$message({
            message: 'Xóa shop' + shop.name + ' ra khỏi danh sách.',
            type: 'success'
          })
          seft.getShopList()
          seft.summary()
          seft.form.shop.listLoading = false
        })
      }
    },
    resetList() {
      this.$message({
        message: 'Danh sách được cập nhật mới nhất',
        type: 'success'
      })
      this.getShopList()
    },
    getShopList() {
      const seft = this
      const shop = seft.form.shop
      shop.listLoading = true
      seft.$store.dispatch('countShop', shop.query).then(result => {
        result.table.count(function(count) {
          seft.$store.dispatch('listShop', shop.query).then(obj => {
            obj.list.toArray().then(arr => {
              shop.list = arr
              shop.total = count
              shop.listLoading = false
            })
          })
        })
      })
    },
    sortShop(sort) {
      this.form.shop.query.sort = sort
      this.getShopList()
    },
    handleSizeChange(val) {
      const seft = this
      const shop = seft.form.shop
      shop.query.limit = val
      seft.getShopList()
    },
    handleCurrentChange(val) {
      const seft = this
      const shop = seft.form.shop
      shop.query.page = val
      seft.getShopList()
    },
    updateKeyword() {
      const seft = this
      const keyword = seft.form.keyword
      if (keyword.value !== '') {
        keyword.status = Status.keyword.COMPLETED
      } else {
        keyword.status = Status.keyword.NEW
      }
    },
    onGoHome() {
      this.findLoading = true
      const webview = document.getElementById('wviewFind')
      webview.loadURL(Shopee.url.HOME)
    },
    onGoLogin() {
      this.followLoading = true
      const webview = document.getElementById('wviewFollow')
      webview.loadURL(Shopee.url.LOGIN)
    },
    onFindShop() {
      const seft = this
      const find = seft.form.find
      const setting = seft.setting
      const webview = document.getElementById('wviewFind')
      if (find.status.code === Status.find.NEW.code || find.status.code === Status.find.COMPLETED.code) {
        if (webview.getURL().indexOf('search') > -1) {
          find.count = 0
          find.page = 1
          find.status = Status.find.WAIT
          find.tick = setting.find.nextPageTick
          webview.send('listen-action', { action: 'search_item' })
        } else {
          this.$message.error('Dùng tìm kiếm của shopee và click tìm shops')
        }
      } else {
        find.status = Status.find.NEW
      }
    },
    onViewShop(id) {
      const { BrowserWindow } = require('electron').remote
      let win = new BrowserWindow({ width: 960, height: 600, parent: require('electron').remote.getCurrentWindow(), webPreferences: {
        partition: 'persist:shopee'
      }})
      win.on('closed', () => {
        win = null
      })
      win.loadURL(Shopee.url.HOME + '/shop/' + id)
    },
    onViewFollowing(id) {
      const seft = this
      const { BrowserWindow } = require('electron').remote
      let win = new BrowserWindow({ width: 960, height: 600, parent: require('electron').remote.getCurrentWindow(), webPreferences: {
        partition: 'persist:shopee',
        preload: seft.preload
      }})
      win.on('closed', () => {
        win = null
      })
      win.loadURL(Shopee.url.HOME + '/shop/' + id + '/following/')
    },
    onViewFollower(id) {
      const seft = this
      const { BrowserWindow } = require('electron').remote
      let win = new BrowserWindow({ width: 960, height: 600, parent: require('electron').remote.getCurrentWindow(), webPreferences: {
        partition: 'persist:shopee',
        preload: seft.preload
      }})
      win.on('closed', () => {
        win = null
      })
      win.loadURL(Shopee.url.HOME + '/shop/' + id + '/followers/')
    },
    tick() {
      const seft = this
      const find = seft.form.find
      const follow = seft.form.follow
      const unfollow = seft.form.unfollow
      const setting = seft.setting
      const followWebview = document.getElementById('wviewFollow')
      const unfollowWebview = document.getElementById('wviewUnFollow')
      this.intervalTick = setInterval(function() {
        if (find.status.code === Status.find.WAIT.code) {
          if (find.tick === 0) {
            find.tick = setting.find.nextPageTick
            const webview = document.getElementById('wviewFind')
            const url = webview.getURL()
            const urlArr = url.split('?')
            const params = new URLSearchParams(urlArr[1])
            let page = 1
            if (params.has('page')) {
              page = parseInt(params.get('page')) + 1
            }
            find.page = page + 1
            params.set('page', page)
            webview.loadURL(urlArr[0] + '?' + params.toString())
          }
          find.tick--
        }
        if (follow.status.code === Status.follow.FOLLOW.code) {
          if (follow.tick === 0) {
            follow.tick = setting.follow.nextPageTick
            if (follow.shop === null) {
              seft.$store.dispatch('getShopExchage').then(cb => {
                cb.shop.then(shops => {
                  if (shops.length > 0) {
                    const shop = shops[0]
                    follow.shop = shop
                    follow.index = 1
                    followWebview.loadURL(Shopee.url.HOME + '/shop/' + follow.shop.shopid + '/followers/')
                    const waitFollowLoading = setInterval(() => {
                      if (!followWebview.isLoading()) {
                        followWebview.send('listen-action', { action: 'follow', index: follow.index, shopid: follow.shop.shopid })
                        follow.index++
                        clearInterval(waitFollowLoading)
                      }
                    }, 1000)
                  } else {
                    follow.status = Status.follow.SHOP_FAIL
                  }
                })
              })
            } else {
              followWebview.send('listen-action', { action: 'follow', index: follow.index, shopid: follow.shop.shopid })
              follow.index++
            }
          }
          follow.tick--
        }

        if (unfollow.status.code === Status.follow.FOLLOW.code) {
          if (unfollow.tick === 0) {
            unfollow.tick = setting.unfollow.nextPageTick
            if (unfollow.shop === null) {
              unfollow.shop = seft.form.login.shop
              unfollowWebview.loadURL(Shopee.url.HOME + '/shop/' + unfollow.shop.shopid + '/following/')
              const waitUnFollowLoading = setInterval(() => {
                if (!unfollowWebview.isLoading()) {
                  unfollowWebview.send('listen-action', { action: 'unfollow', index: unfollow.index })
                  unfollow.index++
                  unfollow.isFirst = false
                  clearInterval(waitUnFollowLoading)
                }
              }, 1000)
            } else {
              unfollowWebview.send('listen-action', { action: 'unfollow', index: unfollow.index })
              unfollow.index++
            }
          }
          unfollow.tick--
        }
      }, 1000)
    },
    summary() {
      const seft = this
      const summary = seft.form.summary
      seft.$store.dispatch('summaryShop').then(result => {
        result.shopNew.then(count => {
          summary.shopNew = count
        })
        result.shopFollow.then(count => {
          summary.shopFollow = count
        })
        result.shopUnFollow.then(count => {
          summary.shopUnFollow = count
        })
        result.shopFollowed.then(count => {
          summary.shopFollowed = count
        })
      })
    },
    checkLogin(webview) {
      console.log('check login')
      const seft = this
      const login = seft.form.login
      login.status = Status.follow.LOGIN
      return new Promise((resolve, reject) => {
        if (webview.getURL() !== Shopee.url.LOGIN) {
          webview.loadURL(Shopee.url.LOGIN)
        }
        const waitingLoading = setInterval(() => {
          console.log('wait loadding')
          if (!webview.isLoading()) {
            webview.send('listen-action', { action: 'login' })
            clearInterval(waitingLoading)
          }
        }, 2000)
        const waitingLoginResponse = setInterval(() => {
          if (login.status.code === Status.follow.LOGINED.code) {
            resolve(Status.follow.LOGINED)
            clearInterval(waitingLoginResponse)
          } else if (login.status.code === Status.follow.LOGIN_FAIL.code) {
            reject(Status.follow.LOGIN_FAIL)
            clearInterval(waitingLoginResponse)
            console.log('login fail')
          }
        }, 2000)
      })
    },
    checkShopFollow() {
      console.log('check shop follow')
      const seft = this
      if (seft.form.summary.shopFollow > 0) {
        console.log('shop follow success')
        return { hasShop: true }
      } else {
        console.log('shop follow false')
        return { hasShop: false, data: Status.follow.SHOP_FAIL }
      }
    },
    follower() {
      const seft = this
      const follow = seft.form.follow
      const webview = document.getElementById('wviewFollow')
      if (follow.status.code === Status.follow.FOLLOW.code) {
        follow.buttonFollow = Status.follow.FOLLOW_BTN_STOP
        follow.status = Status.follow.STOP
        follow.index = 1
        follow.shop = null
        webview.send('listen-action', { action: 'reset' })
      } else {
        seft.followLoading = true
        follow.buttonFollow = Status.follow.BTN_START
        const handleError = function(error) {
          follow.status = error
          follow.buttonFollow = Status.follow.FOLLOW_BTN_STOP
          seft.followLoading = false
        }
        seft.checkLogin(webview).then(status => {
          follow.status = status
          const result = seft.checkShopFollow()
          if (result.hasShop) {
            follow.status = Status.follow.FOLLOW
            seft.followLoading = false
          } else {
            handleError(result.data)
          }
        }).catch(error => {
          handleError(error)
        })
      }
    },
    unfollower() {
      const seft = this
      const unfollow = seft.form.unfollow
      const webview = document.getElementById('wviewUnFollow')
      if (unfollow.status.code === Status.follow.FOLLOW.code) {
        unfollow.buttonUnFollow = Status.follow.UNFOLLOW_BTN_STOP
        unfollow.status = Status.follow.STOP
        unfollow.index = 1
        unfollow.shop = null
        webview.send('listen-action', { action: 'reset' })
      } else {
        seft.unfollowLoading = true
        unfollow.buttonUnFollow = Status.follow.BTN_START
        const handleError = function(error) {
          unfollow.status = error
          unfollow.buttonUnFollow = Status.follow.UNFOLLOW_BTN_STOP
          seft.unfollowLoading = false
        }
        seft.checkLogin(webview).then(status => {
          unfollow.status = Status.follow.FOLLOW
        }).catch(error => {
          handleError(error)
        })
      }
    }
  },
  mounted() {
    //require('electron').remote.getCurrentWindow().openDevTools()
    this.findLoading = true
    this.tick()
    this.summary()
    const seft = this
    const follow = seft.form.follow
    const unfollow = seft.form.unfollow
    const login = seft.form.login
    const find = seft.form.find
    const { ipcMain } = require('electron').remote
    const webviewFind = document.getElementById('wviewFind')
    webviewFind.addEventListener('dom-ready', () => {
      //webviewFind.openDevTools()
      seft.findLoading = false
    })
    const webviewFollow = document.getElementById('wviewFollow')
    webviewFollow.addEventListener('dom-ready', () => {
      seft.followLoading = false
    })
    const webviewUnFollow = document.getElementById('wviewUnFollow')
    webviewUnFollow.addEventListener('dom-ready', () => {
      // webviewUnFollow.openDevTools()
      seft.unfollowLoading = false
    })
    ipcMain.on('listen-action-reply', (event, arg) => {
      if (arg.action === 'login' && arg.data.isLogin) {
        console.log('login callback')
        login.status = Status.follow.LOGINED
        login.shop = arg.data.shop
      } else if (arg.action === 'login' && !arg.data.isLogin) {
        console.log('login callback')
        login.status = Status.follow.LOGIN_FAIL
      } else if (arg.action === 'save_shops') {
        if (arg.isEnd) {
          find.status = Status.find.COMPLETED
        } else {
          for (var i = 0; i < arg.data.length; i++) {
            seft.$store.dispatch('updateShop', arg.data[i]).then(result => {
              if (!result.isUpdate) {
                seft.form.find.count++
              }
            })
          }
        }
      } else if (arg.action === 'follow') {
        if (arg.data.isEnd) {
          seft.$store.dispatch('updateStatus', { id: follow.shop.id, shopid: follow.shop.shopid, status: Status.shop.FOLLOWED }).then(obj => {
            seft.summary()
            follow.tick = 5
            follow.shop = null
            follow.index = 1
          })
        } else if (arg.data.isFollow) {
          follow.tick = 5
        }
      } else if (arg.action === 'unfollow') {
        if (arg.data.isEnd) {
          unfollow.status = Status.follow.STOP
          unfollow.shop = null
          unfollow.index = 1
        } else if (arg.data.isUnFollow) {
          unfollow.tick = 5
        }
      } else if (arg.action === 'unfollow-log') {
        unfollow.log = arg.data
      } else if (arg.action === 'follow-log') {
        follow.log = arg.data
      }
    })
  },
  beforeDestroy() {
    clearInterval(this.intervalTick)
  }
}
</script>



<style>
.el-row {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .el-col {
    border-radius: 4px;
  }
  .bg-purple-dark {
    background: #99a9bf;
  }
  .bg-purple {
    background: #d3dce6;
  }
  .bg-purple-light {
    background: #e5e9f2;
  }
  .grid-content {
    border-radius: 4px;
    min-height: 36px;
  }
  .row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
  }
  .el-form-item--mini.el-form-item, .el-form-item--small.el-form-item {
    margin-bottom: 0px;
  }
  .divided-h{
    display: block;
    height: 30px;
    width: 1px;
    border-left: 1px solid #ebeef5;
  }
  .divided-v{
    display: block;
    height: 1px;
    width: 100%;
    border-top: 1px solid #ebeef5;
    margin: 10px 0px;
  }
  ul.status-ul{
    margin: 0px;
    list-style-type: none;
    font-size: 12px;
    color: #606266;
    padding-left: 5px
  }
  ul.status-ul li {
    line-height:16px;
  }
  .el-tabs--border-card{
    border: none;
  }
  .pagination-container{
    margin-top: 5px
  }
  small{
    font-size: 11px;
    color: #606266;
  }
</style>
