<template>
<el-container style="border: 1px solid #eee">
  <el-aside width="200px" style="background-color: rgb(238, 241, 246)">
    <el-button type="primary" icon="el-icon-plus" class="w100" @click.native.prevent="handleAddShopee"></el-button>
    <el-button type="primary" icon="el-icon-plus" class="w100" @click.native.prevent="handleShowShopee">Show</el-button>
    <el-button type="primary" icon="el-icon-plus" class="w100" @click.native.prevent="handleDisableShopee">Disable</el-button>
    <el-menu>
      <el-menu-item :index="item.id" v-for="(item, index) in shopeeList" @click.native.prevent="handleShopChange(item, index)">
        <i class="el-icon-refresh"></i>
        <span>{{item.name}}</span>
      </el-menu-item>
    </el-menu>
  </el-aside>
  
  <el-container >
    <el-header height="40px" style="text-align: right; font-size: 12px">
      <el-dropdown>
        <i class="el-icon-setting" style="margin-right: 15px"></i>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item>View</el-dropdown-item>
          <el-dropdown-item>Add</el-dropdown-item>
          <el-dropdown-item>Delete</el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </el-header>
    
    <el-main v-loading="loading" element-loading-background="rgba(0, 0, 0, 0.8)" ref="placeView">
    </el-main>
  </el-container>
</el-container>
</template>
<style>
.el-header {
  background-color: rgb(238, 241, 246);
  color: #333;
  line-height: 40px;
}

.el-aside {
  color: #333;
}
.w100{
  width: 100%;  
}
.el-container{
  min-height: 500px
}
</style>

<script>
import { generateUUID } from '@/utils/uid'
export default {
  name: 'shopee',
  data() {
    const list = this.$store.state.shopee.list !== undefined ? this.$store.state.shopee.list : []
    return {
      shopeeList: list,
      loading: false,
      uid: null,
      view: null
    }
  },
  methods: {
    handleAddShopee() {
      const { BrowserView } = require('electron').remote
      this.uid = generateUUID()
      this.loading = true
      const hegiht = this.$refs.placeView.$el.clientHeight
      const width = this.$refs.placeView.$el.clientWidth
      const x = this.$refs.placeView.$el.offsetLeft
      const y = this.$refs.placeView.$el.offsetTop
      this.view = new BrowserView(
        {
          webPreferences: {
            nodeIntegration: false,
            allowRunningInsecureContent: true,
            allowDisplayingInsecureContent: true,
            webSecurity: false,
            partition: 'persist:' + this.uid
          }
        })
      require('electron').remote.getCurrentWindow().setBrowserView(this.view)
      this.view.setBounds({ x: x, y: y, width: width, height: hegiht })
      this.view.webContents.loadURL('https://banhang.shopee.vn')
      const seft = this
      this.view.once('ready-to-show', () => {
        seft.loading = false
        seft.view.show()
      })
      /* this.$store.dispatch('createView').then(view => {
        view.setBounds({ x: x, y: y, width: width, height: hegiht })
        view.webContents.loadURL('https://banhang.shopee.vn')
        view.once('ready-to-show', () => {
          this.loading = false
          view.show()
        })
      }) */
    },
    handleShowShopee() {
      const hegiht = this.$refs.placeView.$el.clientHeight
      const width = this.$refs.placeView.$el.clientWidth
      const x = this.$refs.placeView.$el.offsetLeft
      const y = this.$refs.placeView.$el.offsetTop
      const { BrowserView } = require('electron').remote
      this.view = new BrowserView(
        {
          webPreferences: {
            nodeIntegration: false,
            allowRunningInsecureContent: true,
            allowDisplayingInsecureContent: true,
            webSecurity: false,
            partition: 'persist:c10c2bfa-5cbe-4597-9c4c-0e28bde800bf'
          }
        })
      require('electron').remote.getCurrentWindow().setBrowserView(this.view)
      this.view.setBounds({ x: x, y: y, width: width, height: hegiht })
      this.view.webContents.loadURL('https://banhang.shopee.vn')
      this.view.setAutoResize({ width: true, height: true })
      const seft = this
      this.view.once('ready-to-show', () => {
        console.log(4)
        seft.loading = false
        seft.view.show()
      })
      // require('electron').remote.getCurrentWindow().setBrowserView(this.view)
      /* require('electron').remote.getCurrentWindow().setBrowserView(this.view)
      this.view.setBounds({ x: x, y: y, width: width, height: hegiht })
      this.view.webContents.loadURL('https://banhang.shopee.vn')
      const seft = this
      this.view.once('ready-to-show', () => {
        console.log(4)
        seft.loading = false
        seft.view.show()
      }) */
    },
    handleDisableShopee() {
      console.log(this.view)
      const seft = this
      require('electron').remote.getCurrentWindow().setBrowserView(null)
      this.view.destroy()
      seft.loading = false
      /*  this.$store.dispatch('disableView').then(view => {
        this.loading = false
      }) */
    },
    handleShopChange(item, id) {
      /* this.$store.dispatch('showView', id).then(view => {
        console.log(item)
      }) */
    }
  }
}
</script>
